body {
    height: 100vh;
    background: linear-gradient(rgb(141, 68, 68), rgb(202, 197, 120), rgb(178, 189, 85));
    
    display: flex;
align-items: center;
justify-content: center;


}




.central{

    width:  300px;
height: 250px;
background: rgb(133, 126, 175);
border-radius:25px;
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;

}

.central button{

    width: 80px;
    border: none;
    outline: none;
    background: rgb(209, 120, 157);
    border-radius: 50px;
    height: 20px;
    cursor: pointer;

}